<?xml version="1.0"?>
<launch>
<group ns="openbci">
  <node name="ssvep_10" pkg="openbci" type="run_ssvep.py" output="screen"></node>
  <node name="ssvep_12" pkg="openbci" type="ssvep_12.py" output="screen"></node>
  <node name="ssvep_15" pkg="openbci" type="ssvep_15.py" output="screen"></node>

</group>
</launch>
